@mixin transition {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
@mixin border_radius_24 {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -o-border-radius: 24px;
}
@mixin border_radius_12 {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
}
@mixin display_flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
@mixin content_shadow {
  -webkit-box-shadow: #aaa 0px 0px 4px;
  -moz-box-shadow: #aaa 0px 0px 4px;
  box-shadow: #aaa 0px 0px 4px;
}
@mixin flex_wrap {
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
@mixin flex_column {
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex_center {
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
